.window {
    background-color: var(--win-gray);
    border: 2px solid var(--win-light);
    border-right-color: var(--win-shadow);
    border-bottom-color: var(--win-shadow);
    box-shadow: 2px 2px 0px #000;
    padding: 3px;
}

/* BARRA DE TÍTULO */
.title-bar {
    background-color: var(--win-blue);
    color: white;
    padding: 3px 10px;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* BOTÃO RETRO PADRÃO */
.retro-btn {
    padding: 6px 12px;
    background: var(--win-gray);
    border: 2px solid var(--win-light);
    border-right-color: var(--win-shadow);
    border-bottom-color: var(--win-shadow);
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    color: black;
    font-size: 12px;
}

/* EFEITO DE CLIQUE NO BOTÃO */
.retro-btn:active {
    border: 2px solid var(--win-shadow);
    border-right-color: var(--win-light);
    border-bottom-color: var(--win-light);
}

.noise-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Gera um ruído visual sem precisar de imagem externa */
    background: repeating-radial-gradient(#000 0.0001%, #ffffff 0.0002%);
    background-size: 3px 3px;
    opacity: 0.05; /* Deixe bem baixinho para não atrapalhar a leitura */
    pointer-events: none;
    display: none; /* Só aparece quando você mudar de canal */
}